<!DOCTYPE html>
<div style="text-align:center">



  <section class="content">
    <div class="card">
      <div class="card-body">
        <h1>{{ title }}</h1>

        <div class="dropdown">
          <label for="dropdown-1" class="btn btn-dropdown">Chart Select</label>
          <input class="dropdown-open" type="checkbox" id="dropdown-1" aria-hidden="true" hidden />
          <label for="dropdown-1" class="dropdown-overlay"></label>
          <div class="dropdown-inner">
            <ul>
              <li>
                <a [routerLink]="['/heat-map']">Geolocation Heat Map</a>
              </li>
              <li>
                <a [routerLink]="['/top-vms']">Top 10 VMs</a>
              </li>
              <li>
                <a [routerLink]="['/source-ips']">Top 10 Source IPs</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </section>

</div>
