<h1>DYNAMIC THREAT BLOCKING

  
  <i class="ico ico-info-circle-full" ngbTooltip="Internet protocol reputation management (IPRM) filters public internet traffic matched to an IP blacklist.
  This chart displays the top nine countries of origin according to the IPRM count." placement="right"></i>
</h1>
  <button class="btn btn-primary" (click)="showDefaultAlert()">Show Alert Modal</button>
    <button class="btn btn-danger" (click)="showDangerAlert()">Show Critical Alert Modal</button>
<div class="bigger" echarts [options]="heatMap"></div>
